body {
        background-color: #333333 !important;
        color: whitesmoke !important;
}

.descricao {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
}

.card-img-top {
        max-height: 135px;
}

.imgc:hover {
        z-index: 1;
        transition-delay: 2s;
        transform: scale(1.50)
}

.fonts {
        font-family: "Comic Relief", sans-serif;
}

.projetos {
        margin-top: 50px;
        gap: 20px;
        display: flex;
}

.tema {
        width: 15%;
        position: fixed;
        margin-top: 5%;
        margin-left: -3%;
        z-index: 1;
        
}
.ghb {
        display: flex;
}
.footer {
        margin-left: 25px;
}

.projetos {
        
}